<%- include _header.ejs   %>
<div class="container" xmlns="http://www.w3.org/1999/html">



    <form action="/posts" class="clearfix" id="post" onsubmit="submitPost();return false" method="POST">

        <% if (mode == 'edit'){ %>
        <input type="hidden" name="_method" value="PUT"/>
        <input type="hidden" name="post[_id]" value="<%= post._id %>"/>
        <%} %>
        <% if(post){ %>
        <h2>Edit Post</h2>
        <input type="text" name="post[title]" id="post-title-input" placeholder="Post Title" value="<%= post.title   %>" />
        <% }else{%>
        <h2>New Post</h2>
        <input type="text" name="post[title]" id="post-title-input" placeholder="Post Title" />
        <% }   %>
        <div>
            <% if(post&&post._id){   %>
            <script name="post[content]" id="post_content" cols="30" rows="10" style="display: block;width: 100%;height: 500px"><%- post.content   %></script>
            <% }else{   %>
            <textarea name="post[content]" id="post_content" cols="30" rows="10" style="width: 100%;height: 400px"><p>Page Content...</p></textarea>
            <%}   %>
        </div>

        <input name="post[tags]" id="post_tags" type="text" hidden="hidden"/>
        <div class="form-group">
            <label for="post_tags">Tags</label>
            <span id="tags_container">
                <%if(post&&post.tags){ %>
                <%post.tags.forEach(function(tag){%><span class="tag_span"><span class="tag_name"><%= tag %></span><span class="tag_close">×</span></span><%}) %>
                <%}  %>
                <input id="newTag" type="text"/>
            </span>
        </div>
        <div class="form-group">
            <label for="post_category">Category</label>
            <select name="post[category]" id="post_category">
                <option value="Uncategorized">Uncategorized</option>
                <option value="Technology" <%= post&&post.category=="Technology"? ' selected="selected"':'' %>>Technology</option>
                <option value="Music"      <%= post&&post.category=="Music"? ' selected="selected"':'' %>>Music</option>
                <option value="Life"       <%= post&&post.category=="Life"? ' selected="selected"':'' %>>Life</option>
                <option value="Think"      <%= post&&post.category=="Think"? ' selected="selected"':'' %>>Think</option>
            </select>
            <% if(post){  %>
            <input type="submit" class="button pull-right" value="Update Post"/>
            <% }else{   %>
            <input type="submit" class="button pull-right" value="Create Post"/>
            <% }  %>
        </div>
    </form>
</div>
<%- include _footer.ejs  %>