<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%- title %>- EBlog</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css"/>
    <%if(title == "New Post"||title == "Edit Post"){%>
    <link rel="stylesheet" href="/stylesheets/turquoise.min.css"/>
    <%}%>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body class="unloaded" onload="document.body.className='loaded'">
<header>
    <nav class="container header_navs clearfix">
        <ul class="clearfix">
            <li><a href="/">Home</a></li>
            <li><a href="/albums">Albums</a></li>
            <% if (user){ %>
            <li><a href="/u/<%= user.name %>"><%= user.name %></a></li>
            <li><a href="/post/new">New Post</a></li>
            <li><a href="/logout">Logout</a></li>
            <% }else{  %>
            <li><a href="/reg">Register</a></li>
            <li><a href="/login">Login</a></li>
            <%}   %>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <% if (error) { %>
        <div class="flash_error"><%= error %></div>
        <% } %>
        <% if (success){ %>
        <div class="flash_success"><%= success  %></div>
        <% } %>
    </div>

