<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%- title %>- EBlog</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css"/>
    <%if(mode == "new"||mode == "edit"){%>
    <link rel="stylesheet" href="/stylesheets/turquoise.min.css"/>
    <%}%>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body class="unloaded" onload="document.body.className='loaded'">
<header>
    <nav class="container header_navs clearfix">
        <ul class="clearfix">
            <li><a href="/">Home</a></li>
            <li><a href="/albums">Albums</a></li>
            <li><a href="/lab">Lab</a></li>
            <% if (user){ %>
            <li class="has_sub"><a href="/u/<%= user.name %>"><%= user.name %></a>
                <ul class="sub_nav">
                    <li><a href="/posts/new">New Post</a></li>
                    <li><a href="/me">View Profile</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a data-method="post" href="/logout">Logout</a></li>
                </ul>
            </li>
            <% }else{  %>
            <li><a href="/reg">Register</a></li>
            <li><a href="/login">Login</a></li>
            <%}   %>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <div class="flash">
            <% error = flash("error")||null;success = flash("success")||null %>
            <% if (error.length) { %>
            <div class="flash_error"><%= error %></div>
            <script>
                var error = <%= typeof  error%>;
            </script>
            <% } %>
            <% if (success.length){ %>
            <div class="flash_success"><%= success  %></div>
            <% } %>
        </div>
    </div>

