<%- include _header.ejs   %>
<div id="markdown" class="container">

    <form action="/posts" class="clearfix" id="post" onsubmit="submitPost();return false" method="POST">
        <% if (mode == 'markdown'){ %>
        <% if (post){ %>
        <input type="hidden" name="_method" value="PUT"/>
        <input type="hidden" name="post[_id]" value="<%= post._id %>"/>
        <%} %>
        <input type="hidden" name="post[isMarkdown]" value="true"/>
        <%} %>
        <div class="form-group">
            <input type="text" name="post[title]" id="post-title-input" placeholder="Post Title" value="<%= post? post.title:""   %>" />
        </div>
        <div id="markdown-container" class="markdown_container clearfix">
            <div class="markdown_text form-group">
                <% if(post&&post._id){   %>
                <textarea name="post[markdown]" id="post_content" cols="30" rows="10"><%- post.markdown||"No Content..."%></textarea>
                <% }else{   %>
                <textarea name="post[markdown]" id="post_content" cols="30" rows="10" >Page Content...</textarea>
                <%}   %>
            </div>
            <div class="markdown_html">
                <div class="markdown_preview"></div>
            </div>
            <div id="fullscreen" title="Edit in Full-screen"><i class="icon-expand"></i><i class="icon-contract"></i></div>
        </div>
        <input name="post[tags]" id="post_tags" type="text" hidden="hidden"/>
        <div class="form-group-group clearfix">
            <div class="form-group pull-left">
                <label for="newTag">Tags</label>
                <span id="tags-container">
                    <%if(post&&post.tags){ %><%post.tags.forEach(function(tag){%><span class="tag-span"><span class="tag_name"><%= tag %></span><span class="tag_close">×</span></span><%}) %><%}  %><input id="newTag" style="width:200px;border: 0;" type="text"/>
                </span>
            </div>
            <div class="form-group pull-left">
                <label for="post_category">Category</label>
                <select name="post[category]" id="post_category">
                    <option value="Uncategorized">Uncategorized</option>
                    <option value="Technology" <%= post&&post.category=="Technology"? ' selected="selected"':'' %>>Technology</option>
                    <option value="Music"      <%= post&&post.category=="Music"? ' selected="selected"':'' %>>Music</option>
                    <option value="Life"       <%= post&&post.category=="Life"? ' selected="selected"':'' %>>Life</option>
                    <option value="Think"      <%= post&&post.category=="Think"? ' selected="selected"':'' %>>Think</option>
                </select>
            </div>
            <div class="form-group pull-left">
                <label for="post_slug">Slug</label>
                <span class="slug">/posts/<input type="text" id="post_slug" name="post[slug]" placeholder="<% if(post){ %><%= post.slug %><% }else{ %>slug<% } %>"/>
                    Check to update slug : <input id="post_updateSlug" type="checkbox" name="post[updateSlug]" style="margin-top: 10px;"/></span>
            </div>
            <% if(post){  %>
            <input type="submit" class="button pull-right" value="Update Post"/>
            <% }else{   %>
            <input type="submit" class="button pull-right" value="Create Post"/>
            <% }  %>
        </div>
    </form>
</div>
<%- include _footer.ejs  %>