<%- include _header.ejs %>
<div class="container posts">
    <div class="post_list">
        <article class="clearfix">
            <div class="post_title clearfix">
                <h2><a href="/posts/<%= post.slug %>"><%= post.title  %></a></h2>
                <p class="info">By  <a href="/u/<%= post.user.name %>"><%= post.user.name %></a>
                    <span> at  <%= post.date  %></span>
                    <% if(user&&post.user.name==user.name){ %>
                    <a href="/posts/<%= post.slug %>/edit">Edit</a>
                    <a class="confirm" data-method="delete" rel="nofollow" data-confirm="Are you sure to Detele this blog?" href="/posts/<%= post.slug %>">Delete</a>
                    <% } %>
                </p>
            </div>
            <div class="post_content clearfix">
                <%- post.content  %>
            </div>
            <div class="post_info clearfix">
                <% if(post.tags){ %>
                <div class="tag_links">
                    Tags:&nbsp;&nbsp;
                    <%post.tags.forEach(function(tag){ %>
                    <a class="tag_link" href="/tags/<%=tag %>"><i class="icon-tags"></i><%= tag %></a>
                    <%})%>
                </div>
                <%}   %>
                <% if(post.category){ %>
                <div class="category_link">Category:&nbsp;&nbsp;<a href="/categories/<%=post.category%>"><%=post.category %></a></div>
                <%}   %>
            </div>
        </article>
    </div>

</div>
<% include _footer.ejs %>
