<div class="post_list">
    <% posts.forEach(function(post, index){   %>
    <article class="clearfix">
        <div class="post_title clearfix">
            <h2><a href="/post/<%= post.time+"/"+post.slug %>"><%= post.title  %></a></h2>
            <p class="info">By  <a href="/u/<%= post.user.name %>"><%= post.user.name %></a>
                <span> at  <%= post.time  %></span>
                <% if(user&&post.user.name==user.name){ %>
                <a href="/post/<%= post.time+"/"+post.title %>/edit">Edit</a>
                <a class="confirm" data-confirm="Are you sure to Detele this blog?" href="/post/<%= post.time+"/"+post.title %>/delete">Delete</a>
                <% } %>
            </p>
        </div>
        <div class="post_content clearfix">
            <%- post.content  %>
        </div>
        <div class="post_info clearfix">
            <% if(post.tags){ %>
            <div class="tag_links">
                Tags:&nbsp;&nbsp;
                <%post.tags.forEach(function(tag){ %>
                <a class="tag_link" href="/tags/<%=tag %>">#<%= tag %></a>
                <%})%>
            </div>
            <%}   %>
            <% if(post.category){ %>
            <div class="category_link">Category:&nbsp;&nbsp;<a href="/categories/<%=post.category%>"><%=post.category %></a></div>
            <%}   %>
        </div>
    </article>
    <% })   %>
</div>