<%- include ../_header.ejs %>
<div class="container albums">
    <% if(user&&user._id == album.user){ %>
    <button onclick="addPhoto();return false;" class="button pull-right">Add Photo</button>
    <%}   %>
    <h2><%= album.title %></h2>
    <p><%= album.desc   %></p>
    <ul class="photos_list">
        <% album.photos&&album.photos.forEach(function(photo){ %>
        <li>
            <img src="<%= photo.location %>" alt=""/>
            <p class="photo_name"><%= photo.title %></p>
        </li>
        <%}) %>
        <% if(!album.photos){ %>
        <p>No photos Yet</p>
        <% } %>
    </ul>
</div>
<form action="/photos/new" method="post" target="#new_photo">

</form>
<% include ../_footer.ejs %>